@import 'utilities.css';
* {
    box-sizing: boder-box;
    padding: 0px;
    margin: 0px;
}


header {
    height: 100vh;
    background-image: linear-gradient(to right, rgba(35, 7, 77, 0.7), rgba(106, 41, 212, 0.9)), url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 75%, 0 100%);
}

.nav_div {
    min-height: 10%;
    max-height: 15%;
}

.nav_div nav ul li {
    float: right;
    list-style-type: none;
    margin: 2rem 4rem;
    padding: 2px 10px;
    background-color: transparent;
    border: 2px groove var(--primary);
    border-radius: 30px;
    text-align: center;
    width: 100px;
    cursor: pointer;
}

.nav_div nav ul li a {
    text-decoration: none;
    color: var(--light);
    font-family: pop;
}

.nav_div nav ul li:hover {
    float: right;
    list-style-type: none;
    margin: 2rem 4rem;
    padding: 2px 10px;
    background-color: var(--ternary);
    border: 2px groove var(--light);
    border-radius: 30px;
    text-align: center;
    width: 100px;
    cursor: pointer;
    transition: all .3s ease;
}

header .titel_img_div {
    width: 100%;
}

.img_div {
    width: 50%;
    float: left;
}

header .titel_img_div .img_div img {
    margin-top: 0px;
    margin-left: 30%;
    width: 800px;
    height: 700px;
}

header .welcome_div {
    float: left;
    width: 50%;
    margin-top: 100px;
    margin-bottom: 50px;
}

header .welcome_div h1 {
    color: var(--light);
    font-family: fancy;
    font-size: 4rem;
}

header .welcome_div span.sub_heading {
    font-family: fancy;
    margin-right: 100px;
    float: right;
    color: var(--light);
}

header .login_btn ul li {
    float: left;
    list-style-type: none;
    margin: 2rem 4rem;
    padding: 5px;
    background-color: transparent;
    border: 2px groove var(--primary);
    border-radius: 30px;
    text-align: center;
    width: 500px;
    cursor: pointer;
}

header .login_btn ul li a {
    text-decoration: none;
    color: var(--light);
    font-family: pop;
}

header .login_btn ul li:hover {
    float: left;
    list-style-type: none;
    margin: 2rem 4rem;
    padding: 5px;
    background-color: var(--ternary);
    border: 2px groove var(--light);
    border-radius: 30px;
    text-align: center;
    width: 500px;
    cursor: pointer;
    transition: all .3s ease;
}